@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Inconsolata", monospace;
  font-size: 22px;
}

#root {
  display: flex;
  justify-content: center;
  margin: 100px auto 0;
  width: 100%;
  max-width: 480px;
}

.App {
  width: 100%;
}

h1 {
  text-align: center;
}

/* Todo Form */
.todo-form input,
.todo-item {
  border: 1px solid #ececec;
  border-radius: 3px;
}

.todo-form input {
  padding: 0 14px;
  width: 100%;
  height: 48px;
  transition: 0.25s border ease-in-out;
}
.todo-form input:focus {
  outline: 0;
  border: 1px solid gray;
}

/* Todo List */
.todo-list ul {
  padding: 0;
  margin: 0;
}

.todo-list li {
  list-style-type: none;
}

/* Todo Item */

.todo-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 8px;
}

.todo-form + .todo-list ul .todo-item {
  border-top: 0;
}

.todo-item-wrapper {
  flex-grow: 1;
  padding: 0 16px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 15px;
}

.todo-item .todo-input-error {
  border-bottom: 1px solid #e74c3c;
}

.todo-item span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #ececec;
  transition: 0.25s all ease-in-out;
}

.todo-incomplete:hover {
  background: hsla(168, 76%, 42%, 0.25);
  border: 1px solid hsl(168, 76%, 42%, 0.25);
  cursor: pointer;
}

.todo-complete {
  color: #fff;
  background: #1abc9c;
  border: 1px solid #1abc9c;
  cursor: pointer;
  font-size: 25px;
}

.todo-remove {
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 25px;
  cursor: pointer;
  line-height: 1;
  color: #ececec;
  transition: 0.25s color ease-in-out;
}

.todo-remove:hover {
  color: #111;
}
